.nav {
    margin: 0;
    height: 100px;
    background-color: rgb(68, 44, 44);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list-item {
    font-size: 20px;
    list-style: none;
    color: white;
    text-decoration: none;
    transition: all 200ms;
}

.nav-list-item:hover {
    transform: scale(1.3);
    color: red;
}
